
.navbar-container {
  width: 240px; 
  background-color: #054A91;
  min-height: 100vh; 
  padding: 15px;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease; 
  overflow: hidden;
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}



.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%; /* Ensure the logo container takes full width */
  height: 40px; /* Adjust as needed to make sure the logo stays centered vertically */
}

.logo-image {
  width: 30px; /* Adjust the size of the logo as needed */
  height: auto;
  display: block;
}


/* Common style for each nav item */
.nav-item {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
}

.nav-item .icon {
  margin-right: 10px;
  font-size: 1rem;
}

.nav-item .text {
  opacity: 1;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}


.nav-item.selected {
  background-color: #81A4CD;
}

.nav-item:hover {
  background-color: #81A4CD;
}

/* Styles for navbar title next to the logo */
.navbar-title {
  color: #F4EEFF;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
}

/* Styles for the sub-page container */
.sub-page-container {
  margin-left: 20px;
  padding-left: 10px;
  border-left: 2px solid #F4EEFF;
}

.sub-page-item {
  color: #F4EEFF;
  padding: 10px 0;
  cursor: pointer;
  transition: color 0.3s ease;
}
.nav-item.selected {
  background-color: #81A4CD;
}

.sub-page-item:hover {
  color: #81A4CD;
}
